body {
  background: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.grid_container {
    display: grid;
    width: 465px;
    height: 740px;
    grid-template-columns: repeat(3, 145px);
    grid-template-rows: 120px 118px 120px 120px 150px 125px;
    background: url("images/background.png");
    background-size: 50%;
    align-items: center;
    justify-items: start;
}

.grid_container > div {
    margin-left: 53px;
    margin-top: 0px;
}

.hover_button {
    opacity: 0;
}

.hover_button:hover {
    opacity: 0.3;
}

#resetFret {
    position: absolute;
    top: 820px;
    left: 10px;
}

#exportPng {
    position: absolute;
    top: 820px;
    left: 340px;
}

#exportGif {
    position: absolute;
    top: 860px;
    left: 340px;
}
