body {
  background: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.shell {
    display: flex;
    align-items: center;
    flex-direction: column;  
}

.grid_container {
    display: grid;
    width: 465px;
    height: 740px;
    grid-template-columns: 145px 145px 144px;
    grid-template-rows: 117px 115px 116px 115px 145px 125px;
    background: url("images/background.png");
    background-size: 100%;
    align-items: center;
    justify-items: start;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 370px;
    justify-content: space-between;
}

.button {
    width: 120px;
}

.hover_button {
    margin-left: 52px;
    opacity: 0;
}

.hover_button:hover {
    opacity: 0.3;
}

.button {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.bare {
    margin-left: 52px;
    position: absolute;
    top: 99px;
    pointer-events: none;
    display: none;
}